<div class="app-content">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>
        GitHub Weekly Summarizer
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput placeholder="User/Organization Name" [(ngModel)]="userName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Repo Name" [(ngModel)]="repoName">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="registerRepo()">
          Generate Report
        </button>
      </div>
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
