<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <h3>
    We are Team C YOLO {{ title }}
  </h3>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>

</ul> -->


<div class="app-content">
  <mat-card class="main-card">
    <mat-card-header>
      <mat-card-title>
        GitHub Weekly Summarizer
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div>
        <mat-form-field>
          <input matInput placeholder="User/Organization Name" [(ngModel)]="userName">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Repo Name" [(ngModel)]="repoName">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="getRepo()">
          Generate Report
        </button>
      </div>
      <div>
        <h2 *ngIf="repo.name && repo.name.length != 0">
          Weekly Summarize for {{repo.name}} from {{getDateRange()}}
        </h2>
        <h3 *ngIf="commits && commits.length != 0">New Commits</h3>
        <mat-card *ngFor="let commit of commits">
          <p matLine>
            <span id="time">{{getShortSHA(commit.sha)}}</span>
            <span> {{commit.commit.author.name}}</span>
            <span id="milestone">{{commit.commit.author.email}}</span>
          </p>
          <p matLine>
            {{commit.commit.message}}
          </p>
        </mat-card>
        <h3 *ngIf="openIssues && openIssues.length != 0">Open Issues</h3>
        <mat-card *ngFor="let issue of openIssues">
          <h4 matLine>#{{issue.number}} {{issue.title}}</h4>
          <p matLine>
            <span id="user">{{issue.user.login}}</span>
            <span id="time"> {{getDateTimeString(issue.created_at)}}</span>
            <span id="milestone"> Milestone {{issue.milestone.title}}</span>
          </p>
          <div matLine>
            <mat-chip-list>
              <mat-chip *ngFor="let label of issue.labels">{{label.name}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-card>
        <h3 *ngIf="closedIssues && closedIssues.length != 0">Closed Issues</h3>
        <mat-card *ngFor="let issue of closedIssues">
          <h4 matLine>#{{issue.number}} {{issue.title}}</h4>
          <p matLine>
            <span id="user">{{issue.user.login}}</span>
            <span id="time"> {{getDateTimeString(issue.created_at)}}</span>
            <span id="milestone"> Milestone: {{issue.milestone.title}}</span>
          </p>
          <div matLine>
            <mat-chip-list>
              <mat-chip *ngFor="let label of issue.labels">{{label.name}}</mat-chip>
            </mat-chip-list>
          </div>
        </mat-card>
      </div>
    </mat-card-content>
  </mat-card>
</div>
