.main-card {
  padding: 0;

  mat-card-header {
    background-color: #8e24aa;
    border-radius: 2px 2px 0 0;

    mat-card-title {
      color: white;
      margin: 14px 14px;
      font-size: 16px;
    }
  }

  mat-card-content {
    padding: 24px;

    mat-card {
      margin-bottom: 8px;

      p {
        #time {
          color: rgba(0, 0, 0, 0.6);
          font-size: 12px;
        }

        #milestone {
          font-size: 12px;
          margin-left: 8px;
        }
      }
    }
  }
}
